body {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    font-family: "Inter", sans-serif;
    color: #1F1F1F;
}   

.container {
    max-width: 1130px;
    margin: 0 auto;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0070A0;
    color: #fff;
    width: 139px;
    padding: 7px 0;
}


.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    column-gap: 23px;
}

.header__menu a {
    padding: 25px 0;
    color: #33383F;
}

.header__link {
    color: #0070A0;
    margin-right: 30px;
}


.main {
    margin: 71px 0 131px 0;
}

.main .container {
    display: flex;
    justify-content: space-between;
}

.main__content h1{
    font-size: 58px;
    font-family: "Fraunces", sans-serif;
    line-height: 63.8px;
    width: 485px;
    margin-top: 56px;
}

.main__content p{
    font-size: 20px;
    line-height: 30px;
    width: 345px;
    margin: 25px 0 32px 0;
    line-height: 30px;
}

.main__btn{
    width: 174px;
    font-size: 17px;
}

.main__link{
    color: #0070A0;
    margin-left: 24px;
    font-size: 17px;
}

.main__link::after{
    content: url(../images/main-arrow.svg);
    margin-left: 7px;
    display: inline-block;
    transform: translateY(5px); 
}



.companies__title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
}

.companies__items{
    justify-content: center;
    display: flex;
    gap: 60px;
    margin-bottom: 160px;
}


.features__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.features__item {
    width: 355px;
}

.features__item h3 {
    font-family: "Fraunces", sans-serif;
    font-size: 25px;
    margin: 15px 0 18px 0;
}

.features__item img{
    padding: 0 7px;
}

.features__item_1 {
    background-color: #FAEA73;
}

.features__item_1 .wrapper{
    padding: 25px 32px;
}

.features__item_2 {
    background-color: #CCEFF6;
}

.features__item_2 .wrapper {
    padding: 40px 32px;
}

.features__item_3 {
    background-color: #F7CEDC;
}

.features__item_3 .wrapper{
    padding: 35px 32px 25px 32px;
}

.about .container {
    display: flex;
    justify-content: space-between;
}

.about__title h2 {
    font-family: "Fraunces", sans-serif;
    font-size: 42px;
    line-height: 50px;
    width: 263px;
    margin-top: 120px;
}

.about__items {
    display: flex;
    gap: 35px;
    margin-bottom: 125px;
    margin-top: 120px;
}

.about__item {
    width: 215px;
}

.about__item h3 {
    font-family: "Fraunces", sans-serif;
    font-size: 25px;
    margin: 19px 0 15px 0;
}

.about__item:nth-child(2) h3 {
    margin: 15px 0 15px 0;
}