body {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    font-family: "Inter", sans-serif;
    color: #1F1F1F;
}   

h2 {
    font-family: "Fraunces", sans-serif;
    font-size: 42px;
    line-height: 50px;
}

h3 {
    font-family: "Fraunces", sans-serif;
    font-size: 25px;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0070A0;
    color: #fff;
    width: 139px;
    padding: 7px 0;
}


.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    column-gap: 23px;
}

.header__menu a {
    padding: 25px 0;
    color: #33383F;
}

.header__link {
    color: #0070A0;
    margin-right: 30px;
}


.main {
    margin: 71px 0 131px 0;
}

.main .container {
    display: flex;
    justify-content: space-between;
}

.main__content h1{
    font-size: 58px;
    font-family: "Fraunces", sans-serif;
    line-height: 63.8px;
    width: 485px;
    margin-top: 56px;
}

.main__content p{
    font-size: 20px;
    line-height: 30px;
    width: 345px;
    margin: 25px 0 32px 0;
    line-height: 30px;
}

.main__btn{
    width: 174px;
    font-size: 17px;
}

.main__link{
    color: #0070A0;
    margin-left: 24px;
    font-size: 17px;
}

.main__link::after{
    content: url(../images/main-arrow.svg);
    margin-left: 7px;
    display: inline-block;
    transform: translateY(5px); 
}



.companies__title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
}

.companies__items{
    justify-content: center;
    display: flex;
    gap: 60px;
    margin-bottom: 160px;
}


.features__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.features__item {
    width: 355px;
}

.features__item h3 {
    margin: 15px 0 18px 0;
}

.features__item img{
    padding: 0 7px;
}

.features__item_1 {
    background-color: #FAEA73;
}

.features__item_1 .wrapper{
    padding: 25px 32px;
}

.features__item_2 {
    background-color: #CCEFF6;
}

.features__item_2 .wrapper {
    padding: 40px 32px;
}

.features__item_3 {
    background-color: #F7CEDC;
}

.features__item_3 .wrapper{
    padding: 35px 32px 25px 32px;
}



.benefits {
    background-color: #f7f9fa;
}

.benefits .container {
    padding-top: 85px;
}

.benefits h2 {
    width: 620px;
    margin-bottom: 60px;
}

.benefits h2 span {
    font-size: 39px;
}

.benefits__wrapper {
    display: flex;
    justify-content: space-between;
   
}

.benefits__content {
    width: 450px;
}

.benefits details {
    margin-bottom: 2px;
    border-top: 1px solid #C2CDD8;
    border-bottom: 1px solid #C2CDD8;
}

.benefits details >  summary {
    font-size: 21px;
    font-family: "Fraunces", sans-serif;
    margin-bottom: 25px;
    padding-top: 24px;
}

.benefits details >  summary > img {
    margin: 0 16px 0 12px;
}

.benefits details > summary {
    list-style: none;   
    display: block;     
    cursor: pointer;
    color: #626A72;
    display: flex;
}

.benefits details > summary::marker {
    content: "";        
    font-size: 0;       
    color: transparent;
}

.benefits details > summary::-webkit-details-marker {
    display: none;
}

.benefits details > summary::after {
    content: url(../images/b-arrow.svg);
    transition: transform .2s ease;
    margin-left: 8px;
    display: inline-block;
    margin-left: auto;
}

.benefits details[open] > summary::after {
    transform: rotate(-180deg);
}

.benefits details[open] > summary {
    color: #1F1F1F;
}

.benefits p {
    font-size: 16px;
    width: 350px;
    margin: 0 auto;
    line-height: 24px;
}

.benefits details[open] > p {
    padding-bottom: 24px;
}

.benefits__img {
    position: relative;
    top: -100px;
}


.about .container {
    display: flex;
    justify-content: space-between;
}

.about__title h2 {
    width: 263px;
    margin-top: 120px;
}

.about__items {
    display: flex;
    gap: 35px;
    margin-bottom: 125px;
    margin-top: 120px;
}

.about__item {
    width: 215px;
}

.about__item h3 {
    margin: 19px 0 15px 0;
}

.about__item:nth-child(2) h3 {
    margin: 15px 0 15px 0;
}


.tracking {
    background-color: #0070a0;
}

.tracking .container {
    display: flex;
    justify-content: space-between;
}

.tracking__img {
    margin: 80px 0 96px 60px;
}

.tracking__text{
    width: 490px;
    color: #fff;
}

.tracking__text h2{
    margin: 85px 0 33px 0;
}

.tracking__text p{
    font-size: 18px;
    margin-bottom: 23px;
    line-height: 27px;
}

.tracking__list{
    font-size: 17px;
}

.tracking__list li{
    margin-bottom: 9px;
    
}

.tracking__list li::before{
    content: url(../images/tracking-icon.svg);
    padding-right: 8px;
}

.tracking__btn{
    font-size: 17px;
    margin: 20px 0 0px 0;
    padding-left: 20px;
}



.info__title {
    margin: 130px 0 25px 0;
}

.info__desc {
    width: 643px;
    margin-bottom: 70px;
    font-size: 18px;
    line-height: 27px;
}

.info__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}

.info__item:nth-child(3){
   width: 210px;
}

.info__item:nth-child(2) {
   width: 210px;
}

.info__item:nth-child(4) {
   width: 205px;
}


.info__item:nth-child(1) h3 {
    margin: 0px 0 18px 0;
}
.info__item:nth-child(2) h3 {
    margin: 13px 0 18px 0;
}
.info__item:nth-child(3) h3 {
    margin: 13px 0 16px 0;
}
.info__item:nth-child(4) h3 {
    margin: 7px 0 18px 0;
}


.info__item:nth-child(1) p{
   width: 200px;
}

.info__item p {
    font-size: 14px;
    line-height: 24px;
}


.blog {
    background-color: #f7f9fa;
}

.blog__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 85px 0 60px 0;
}

.blog__link {
    font-size: 17px;
    color: #0070A0;
    margin-right: 32px;
}

.blog__posts {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.blog__post {
    width: 355px;
    background-color: #fff;
}

.post__wrapper {
    padding: 15px 23px 23px 23px;
}

.blog__post__tag {
    font-size: 12px;
    color: #2C90C9;
    background-color: #E6F7FF;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.blog__post__tag_1 {
    width: 122px;
}
.blog__post__tag_2 {
    width: 112px;
}
.blog__post__tag_3 {
    width: 60px;
}

.blog__post__title {
    line-height: 31px;
}

.blog__post__text {
    width: 300px;
    font-size: 14px;
    line-height: 20px;
    margin: 15px 0 16px 0;
}

.blog__psot__data {
    font-size: 12px;
}

.start .container{
    background-color: #E6F7FF;
    margin: 80px auto;
    padding: 60px;
    box-sizing: border-box;
}

.start__desc {
    font-size: 18px;
    line-height: 27px;
    margin: 20px 0 30px 0;
    width: 480px;
}

.start__btn {
    width: 174px;
    padding: 9px 0;
    margin-bottom: 17px;
}

.start__remark {
    display: flex;
    gap: 32px;
}

.start__remark p {
    font-size: 12px;
    color: #626A72;
}

.start__remark p::before {
    content: url(../images/start-icon.svg);
    padding: 0 3px;
}



.footer__top .container {
    display: flex;
    justify-content: space-between;
    padding: 48px 0 64px 0;
    border-bottom: 1px solid #DEE5EB;
}

.footer__logo__img img{
    margin-bottom: 17px;
}

.footer__logo__credit {
    font-size: 14px;
    line-height: 20px;
}

.footer__logo__credit a {
    color: #0070A0;
    transition: color .3s ease;
}

.footer__logo__credit a:hover,
.footer__bottom__text a:hover {
    color: #1F1F1F;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
}

.footer__item {
    width: 216px;
}

.footer__item__title {
    margin-bottom: 20px;
}

.footer__item li {
    color: #626A72;
    font-size: 13px;
    margin-bottom: 7px;
}

.footer__item__desc {
    width: 190px;
    font-size: 16px;
    line-height: 24px;
}

.footer__item form {
    border-bottom: 1px solid #C2CDD8;
    margin-top: 30px;
    display: flex;
}

.footer__item input {
    width: 100%;
    padding: 0 0 6px 15px;
   
}

.footer__item button {
    margin-left: auto;
}

.footer__bottom .container {
    display: flex;
    justify-content: space-between;
    margin: 36px auto 67px auto;
}

.footer__bottom__text a {
    color: #0070A0;
    transition: color .3s ease;
}

.footer__bottom__logo {
    display: flex;
    gap: 10px;
}


.footer__bottom__logo i {
    transition: color .3s ease;
}
.footer__bottom__logo i:hover{
    color: #0070A0;
}